$body-family: Helvetica, Arial, sans-serif;
$monospace-family: 'Courier New', Courier, monospace;
html, body {
  font-family: $body-family;
  margin: 0;
  padding: 0;
  @media (prefers-color-scheme: light) {
    background: white;
    color: black;
  }
  @media (prefers-color-scheme: dark) {
    background: #232323;
    color: white;
  }
}
@media (prefers-color-scheme: dark) {
  :link {
    color: #3b46e8;
  }
  :visited {
    color: #a645c4;
  }
}
.Main {
  margin: 0 1rem;
}
.CacheInfo {
  border: 1px solid black;
  border-radius: 2px;
  box-sizing: border-box;
  margin: 1rem 0;
  padding: 0;
  min-width: 30rem;
  max-width: fit-content;
}
.CacheInfo-codeBlock {
  margin: 1rem 0.5rem;
  padding: 0;
}
.CacheInfo-code {
  font-family: $monospace-family;
}
.CacheInfo-caption {
  background: rgba(0, 0, 0, 0.1);
  font-style: italic;
  margin: 0;
  padding: 0.25rem 0.5rem;
  text-align: right;
  width: auto;
}
.DiscoveryWarning {
  font-style: italic;
  margin: 1rem 0;
  padding: 0;
}
.ListingSearch {
  margin: 1.25rem 0;
  padding: 0;
}
.ListingSearch-box {
  font-size: 1.1rem;
  min-width: 20rem;
  padding: 0.25rem 0.1rem;
}
.ListingSearch-button {
  font-size: 1.1rem;
  padding: 0.25rem 1rem;
}
$Listing-rowPadding: 0.25rem;
.Listing {
}
.Listing-heading {
  font-weight: bold;
  padding: 0 0 $Listing-rowPadding;
  text-align: left;

  &.Listing-heading--size {
    text-align: center;
  }
}
.Listing-objectName {
  font-weight: normal;
  padding: $Listing-rowPadding 1rem $Listing-rowPadding 0;
  text-align: left;
}
.Listing-objectHash {
  font-family: $monospace-family;
  font-weight: normal;
  padding: $Listing-rowPadding 0.1rem;
  text-align: left;
}
.Listing-objectSize {
  font-weight: normal;
  padding: $Listing-rowPadding 0.5rem;
  text-align: right;
}
.NextPage {
  font-size: 1.1rem;
  margin: 0.75rem 0;
  padding: 0;
}
@mixin footerColor {
  color: rgba(0, 0, 0, 0.8);
  @media (prefers-color-scheme: dark) {
    color: rgba(255, 255, 255, 0.8);
  }
}
.Footer {
  margin: 3rem 0 1rem;
}
.Footer-copy {
  @include footerColor;
  font-size: 0.9rem;
  text-align: center;
}
.Footer-link {
  @include footerColor;
}
$NARInfo-rowPadding: 0.20rem;
.NARInfo {
  margin: 1.5rem 0;
}
.NARInfo-key {
  font-weight: bold;
  padding: $NARInfo-rowPadding 0.75em $NARInfo-rowPadding 0;
  text-align: left;
  vertical-align: top;
}
.NARInfo-value {
  font-family: $monospace-family;
  line-height: 1.5;
  padding: 0 0 $NARInfo-rowPadding;
  vertical-align: top;
}
.NARInfo-sizeSummary {
  font-family: $body-family;
}
.NARInfoRaw {
  margin: 1.5rem 0;
  padding: 0;
  white-space: pre-wrap;
}
.NARInfoRaw-container .NARInfoRaw {
  margin: 1rem 0;
}
.NARInfoRaw-container {
  margin: 1rem 0;
  padding: 0;
}
