{{ define "title" -}}
	{{- .StorePath.Name -}}
{{- end }}

{{ define "body" -}}
  <h1 class="text-3xl font-bold">{{ .StorePath.Base }}</h1>
  <table class="my-6">
    <tbody>
      <tr>
        <th scope="row" class="pe-3 py-1 font-bold text-left align-top leading-none">StorePath:</th>
        <td class="pb-1 font-mono text-base align-top">
          {{- .StorePath -}}
        </td>
      </tr>
      <tr>
        <th scope="row" class="pe-3 py-1 font-bold text-left align-top leading-none">URL:</th>
        <td class="pb-1 font-mono text-base align-top">
          <a href="/{{ .URL }}" class="nixcached-link">{{ .URL }}</a>
        </td>
      </tr>
      <tr>
        <th scope="row" class="pe-3 py-1 font-bold text-left align-top leading-none">Compression:</th>
        <td class="pb-1 font-mono text-base align-top">
          {{- .Compression -}}
        </td>
      </tr>
      <tr>
        <th scope="row" class="pe-3 py-1 font-bold text-left align-top leading-none">FileHash:</th>
        <td class="pb-1 font-mono text-base align-top">
          {{- .FileHash.Base32 -}}
        </td>
      </tr>
      <tr>
        <th scope="row" class="pe-3 py-1 font-bold text-left align-top leading-none">FileSize:</th>
        <td class="pb-1 font-mono text-base align-top">
          {{ .FileSize }}
          <span class="font-sans">({{ .FileSize | size }})</span>
        </td>
      </tr>
      <tr>
        <th scope="row" class="pe-3 py-1 font-bold text-left align-top leading-none">NarHash:</th>
        <td class="pb-1 font-mono text-base align-top">
          {{- .NARHash.Base32 -}}
        </td>
      </tr>
      <tr>
        <th scope="row" class="pe-3 py-1 font-bold text-left align-top leading-none">NarSize:</th>
        <td class="pb-1 font-mono text-base align-top">
          {{ .NARSize }}
          <span class="font-sans">({{ .NARSize | size }})</span>
        </td>
      </tr>
      {{- with .References }}
        <tr>
          <th scope="row" class="pe-3 py-1 font-bold text-left align-top leading-none">References:</th>
          <td class="pb-1 font-mono text-base align-top">
            {{- range . }}
              <a href="/{{ .Digest }}.narinfo" class="nixcached-link">{{ .Base }}</a>
            {{- end }}
          </td>
        </tr>
      {{- end }}
      {{- with .Deriver }}
        <tr>
          <th scope="row" class="pe-3 py-1 font-bold text-left align-top leading-none">Deriver:</th>
          <td class="pb-1 font-mono text-base align-top">
            {{- .Base -}}
          </td>
        </tr>
      {{- end }}
      {{- range .Sig }}
        <tr>
          <th scope="row" class="pe-3 py-1 font-bold text-left align-top leading-none">Sig:</th>
          <td class="pb-1 font-mono text-base align-top">
            {{- . -}}
          </td>
        </tr>
      {{- end }}
      {{- if not .CA.IsZero }}
        <tr>
          <th scope="row" class="pe-3 py-1 font-bold text-left align-top leading-none">CA:</th>
          <td class="pb-1 font-mono text-base align-top">
            {{- .CA -}}
          </td>
        </tr>
      {{- end }}
    </tbody>
  </table>
{{- end }}
