html, body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.Main {
  margin: 0 1rem;
}
.CacheInfo {
  border: 1px solid black;
  border-radius: 2px;
  box-sizing: border-box;
  margin: 1rem 0;
  padding: 0;
  min-width: 30rem;
  max-width: fit-content;
}
.CacheInfo-codeBlock {
  margin: 1rem 0.5rem;
  padding: 0;
}
.CacheInfo-code {
  font-family: 'Courier New', Courier, monospace;
}
.CacheInfo-caption {
  background: rgba(0, 0, 0, 0.1);
  font-style: italic;
  margin: 0;
  padding: 0.25rem 0.5rem;
  text-align: right;
  width: auto;
}
.Listing {
  --row-padding: 0.25rem;
}
.Listing-heading {
  font-weight: bold;
  padding: 0 0 var(--row-padding, 0);
  text-align: left;
}
.Listing-heading.Listing-heading--size {
  text-align: center;
}
.Listing-objectName {
  font-weight: normal;
  padding: var(--row-padding, 0) 1rem var(--row-padding, 0) 0;
  text-align: left;
}
.Listing-objectHash {
  font-family: 'Courier New', Courier, monospace;
  font-weight: normal;
  padding: var(--row-padding, 0) 0.1rem;
  text-align: left;
}
.Listing-objectSize {
  font-weight: normal;
  padding: var(--row-padding, 0) 0.5rem;
  text-align: right;
}
.Footer {
  margin: 3rem 0 1rem;
}
.Footer-copy {
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.9rem;
  text-align: center;
}
.Footer-link {
  color: rgba(0, 0, 0, 0.8);
}
