<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>
      {{- block "title" . }}{{ end -}}
    </title>
    <link rel="stylesheet" href="/_/style.css" type="text/css">
  </head>
	<body>
    <main class="Main">
      {{- block "body" . }}{{ end -}}
    </main>
    <footer class="Footer">
      <p class="Footer-copy">
        Served by <a href="https://github.com/zombiezen/nixcached" rel="noreferrer noopener" target="_blank" class="Footer-link">nixcached</a>
      </p>
    </footer>
	</body>
</html>
