{{ define "title" -}}
	Index
{{- end }}

{{ define "body" -}}
  {{- if not .InitialCrawlComplete }}
    <h1>Hang tight</h1>
    <p>Loading contents, please wait&hellip;</p>
  {{- else }}
    <h1>Listing</h1>
    {{- with .Infos }}
      <table class="Listing">
        <thead>
          <th scope="col" class="Listing-heading">Name</th>
          <th scope="col" class="Listing-heading">Hash</th>
          <th scope="col" colspan="2" class="Listing-heading Listing-heading--size">Size</th>
          <th scope="col" colspan="2" class="Listing-heading Listing-heading--size">Compressed Size</th>
        </thead>
        <tbody>
          {{- range . }}
            <tr>
              <th scope="row" class="Listing-objectName">
                {{- .ObjectName.Name -}}
              </th>
              <td class="Listing-objectHash">
                <a href="{{ .ObjectName.Hash }}.narinfo">{{ .ObjectName.Hash }}</a>
              </td>
              {{- if eq .NARSize .ClosureNARSize }}
                <td class="Listing-objectSize" colspan="2">
                  {{- .NARSize | size }}
                </td>
              {{- else }}
                <td class="Listing-objectSize">
                  {{- .NARSize | size -}}
                </td>
                <td class="Listing-objectSize">
                  {{- .ClosureNARSize | size -}}
                </td>
              {{- end }}
              {{- if eq .FileSize .ClosureFileSize }}
                <td class="Listing-objectSize" colspan="2">
                  {{- .FileSize | size -}}
                </td>
              {{- else }}
                <td class="Listing-objectSize">
                  {{- .FileSize | size -}}
                </td>
                <td class="Listing-objectSize">
                  {{- .ClosureFileSize | size -}}
                </td>
              {{- end }}
            </tr>
          {{- end }}
        </tbody>
      </table>
    {{- end }}
  {{- end }}
{{- end }}
