{{ define "title" -}}
	Index
{{- end }}

{{ define "body" -}}
  {{- if not .InitialCrawlComplete }}
    <h1>Hang tight</h1>
    <p>Loading contents, please wait&hellip;</p>
  {{- else }}
    <h1>Listing</h1>
    {{- with .Infos }}
      <table>
        <thead>
          <th scope="col" class="Listing-heading">Name</th>
          <th scope="col" class="Listing-heading">Hash</th>
        </thead>
        <tbody>
          {{- range . }}
            <tr>
              <th scope="row" class="Listing-objectName">
                {{- .ObjectName.Name -}}
              </th>
              <td class="Listing-objectHash">
                <a href="{{ .ObjectName.Hash }}.narinfo">{{ .ObjectName.Hash }}</a>
              </td>
            </tr>
          {{- end }}
        </tbody>
      </table>
    {{- end }}
  {{- end }}
{{- end }}
